.row {
	margin-top: 20px;
}
.header {
	margin: 60px auto;
	font-size: 20px;
	line-height: 1.5;
}
.section {
	padding: 30px 0;
}
.header span {
	display: block;
}
.form {
	border: 5px solid #2727d9;
	padding: 35px 20px;
}
.form input {
	margin-bottom: 12px;
}
.form-btn {
	background-color: #2727d9;
	margin: 10px auto;
}
.form-header, .section-header {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 900;
}
.feature {
	margin-top: 60px;
}
.feature p {
	margin-top: 20px;
}
